
# By default, starting from the root dir, all files are owned by the project members
* "Project Members"

*Dockerfile "Project Admin"
docker-compose*.yml "Project Admin"

packages/engine/scram-node mail@earthperson.org

package.json "Project Admin"

# This file itself is owned by members who are assigned the Project Admin role in this project.
CODEOWNERS "Project Admin"
