services:
  tunnel:
    image: cloudflare/cloudflared
    command: tunnel run
    networks:
      - traefik-public
    environment:
      - TUNNEL_TOKEN=${CF_TUNNEL_CONNECTOR_TOKEN}
    deploy:
## can likely have multiple, and can go on any node
      placement:
        constraints:
          - node.role == manager
      mode: replicated
#      replicas: 3
      replicas: 1
      update_config:
        delay: 30s
        order: start-first
        monitor: 20s

  cloudflare-companion:
    image: ghcr.io/tiredofit/docker-traefik-cloudflare-companion:latest
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    deploy:
      replicas: 0
      placement:
        constraints:
          - node.role == manager
    environment:
      - TIMEZONE=America/New_York
      - LOG_TYPE=CONSOLE
      - LOG_LEVEL=INFO
      - TRAEFIK_VERSION=2
      - RC_TYPE=CNAME
      - TARGET_DOMAIN=openpra.org
      - REFRESH_ENTRIES=TRUE
      - DOCKER_SWARM_MODE=TRUE
      - ENABLE_TRAEFIK_POLL=TRUE
      - TRAEFIK_POLL_URL=https://proxy.openpra.org/api
      - TRAEFIK_FILTER_LABEL=traefik.constraint-label
      - TRAEFIK_FILTER=traefik-public
      - DOMAIN1=openpra.org
      - DOMAIN1_ZONE_ID=${ZONE_ID}
      - DOMAIN1_PROXIED=TRUE
    networks:
      - traefik-private
    secrets:
      - cf_token

  traefik:
    # Use the latest Traefik image
    image: traefik:v2.11.10
    ports:
      # Listen on port 80, default for HTTP, necessary to redirect to HTTPS
      - target: 80
        published: 80
        mode: host
      # Listen on port 443, default for HTTPS
      - target: 443
        published: 443
        mode: host
      #- target: 8080
      #  published: 8080
      #  mode: host
      # gitlab ssh
      #- target: 54321
      #  published: 54321
      #  mode: host
      # jetbrains space ssh
      #- target: 2222
      #  published: 2222
      #  mode: host
    secrets:
      - basic_auth_users
      - cf_token
    environment:
      - CLOUDFLARE_DNS_API_TOKEN_FILE=/run/secrets/cf_token
      - CLOUDFLARE_HTTP_TIMEOUT=60
      - CLOUDFLARE_POLLING_INTERVAL=10
      - CLOUDFLARE_PROPAGATION_TIMEOUT=3600
      - CLOUDFLARE_TTL=300
    deploy:
      mode: global
      placement:
        constraints:
          - node.role == manager
      labels:
        - traefik.enable=true
        - traefik.docker.network=traefik-public
        - traefik.constraint-label=traefik-public
        - traefik.http.middlewares.gzip.compress=true
        #- traefik.http.middlewares.admin-auth.basicauth.usersfile=/run/secrets/basic_auth_users
        # https-redirect middleware to redirect HTTP to HTTPS
        # It can be re-used by other stacks in other Docker Compose files
        - traefik.http.middlewares.https-redirect.redirectscheme.scheme=https
        - traefik.http.middlewares.https-redirect.redirectscheme.permanent=true
        # traefik-http set up only to use the middleware to redirect to https
        # Uses the environment variable DOMAIN
        - traefik.http.routers.traefik-public-http.rule=Host(`proxy.openpra.org`)
        - traefik.http.routers.traefik-public-http.entrypoints=http
        - traefik.http.routers.traefik-public-http.middlewares=https-redirect,gzip
        # traefik-https the actual router using HTTPS
        - traefik.http.routers.traefik-public-https.rule=Host(`proxy.openpra.org`)
        - traefik.http.routers.traefik-public-https.entrypoints=https
        - traefik.http.routers.traefik-public-https.tls=true
        # Use the special Traefik service api@internal with the web UI/Dashboard
        - traefik.http.routers.traefik-public-https.service=api@internal
        #- traefik.http.routers.traefik-public-https.service=traefik-public-https
        - traefik.http.routers.traefik-public-https.tls.certresolver=le
        #- traefik.http.routers.traefik-public-https.middlewares=admin-auth,gzip
        - traefik.http.routers.traefik-public-https.middlewares=gzip,traefik-forward-auth
        - traefik.http.services.traefik-public-https.loadbalancer.server.port=8080
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /deployments/traefik/volumes/public-certificates:/certificates
      - /deployments/traefik/volumes/cloudflare:/cloudflare
      - /deployments/traefik/volumes/file-provider-config:/file-provider-config
    command:
      # Enable Docker in Traefik, so that it reads labels from Docker services
      - --providers.docker
      # Add a constraint to only use services with the label "traefik.constraint-label=traefik-public"
      - --providers.docker.constraints=Label(`traefik.constraint-label`, `traefik-public`)
      # Do not expose all Docker services, only the ones explicitly exposed
      - --providers.docker.exposedbydefault=false
      # Enable Docker Swarm mode
      - --providers.docker.swarmmode
      # also enable file provider
      - --providers.file.directory=/file-provider-config
      - --providers.file.watch=true
      - --serversTransport.insecureSkipVerify=false

      # create entrypoints
      - --entryPoints.http.address=:80
      - --entryPoints.https.address=:443
      #- --entryPoints.ssh-gitlab.address=:54321
      #- --entryPoints.tcp-on-2222.address=:2222
      # set redirects
      - --entryPoints.http.http.redirections.entryPoint.scheme=https
      - --entryPoints.http.http.redirections.entryPoint.to=https
      - --entryPoints.http.http.redirections.entrypoint.permanent=true
      # set certresolvers
      - --entryPoints.https.http.tls.certResolver=cloudflare
      - --entryPoints.https.http.tls.domains[0].main=openpra.org
      - --entryPoints.https.http.tls.domains[0].sans=*.openpra.org,*.app.openpra.org,*.space.openpra.org
      # for the tcp entrypoint as well
      #- --entryPoints.tcp-on-2222.tcp.tls.certResolver=cloudflare
      #- --entryPoints.tcp-on-2222.tcp.tls.domains[0].main=openpra.org
      #- --entryPoints.tcp-on-2222.tcp.tls.domains[0].sans=*.openpra.org,*.app.openpra.org,*.space.openpra.org
      # local, internal domain
      #- --entryPoints.https.http.tls.domains[1].main=openpra.lan
      #- --entryPoints.https.http.tls.domains[1].sans=*.openpra.lan
      # unset the read (uploads) timeout, from 60s to +inf
      - --entryPoints.http.transport.respondingTimeouts.readTimeout=0
      - --entryPoints.https.transport.respondingTimeouts.readTimeout=0
      #- --entryPoints.tcp-on-2222.transport.respondingTimeouts.readTimeout=0
      # Create the certificate resolver "le" for Let's Encrypt, uses the environment variable EMAIL
      - --certificatesresolvers.le.acme.dnschallenge.provider=cloudflare
      - --certificatesresolvers.le.acme.dnschallenge.delayBeforeCheck=60
      - --certificatesresolvers.le.acme.dnschallenge.disablePropagationCheck=true
      - --certificatesresolvers.le.acme.dnschallenge.resolvers=8.8.8.8:53
      - --certificatesresolvers.le.acme.email=admin@openpra.org
      # Store the Let's Encrypt certificates in the mounted volume
      - --certificatesresolvers.le.acme.storage=/certificates/acme.json
      # Use the TLS Challenge for Let's Encrypt
      # - --certificatesresolvers.le.acme.tlschallenge=true
      # Enable the access log, with HTTP requests
      - --accesslog
      # Enable the Traefik log, for configurations and errors
      - --log
      # Enable the Dashboard and API
      - --api
      - --api.insecure=true
      - chmod 600 /certificates/acme.json
    networks:
      # Use the public network created to be shared between Traefik and
      # any other service that needs to be publicly available with HTTPS
      - traefik-public
      - traefik-private

  traefik-forward-auth:
    image: thomseddon/traefik-forward-auth:2
    environment:
      - DEFAULT_PROVIDER=oidc
      - PROVIDERS_OIDC_ISSUER_URL=https://hub.openpra.org/hub
      - PROVIDERS_OIDC_CLIENT_ID=98343f6e-4772-4850-9107-e0bcef80c4ec
      - PROVIDERS_OIDC_CLIENT_SECRET=51gI1bmj0niH
      - SECRET=something-random
      - INSECURE_COOKIE=false # Example assumes no https, do not use in production
      - COOKIE_DOMAIN=openpra.org
      - URL_PATH=/_oauth
      - LOG_LEVEL=debug
    networks:
      - traefik-public
    deploy:
      #mode: global
      #placement:
      #  constraints:
      #    - node.role == manager
      labels:
        - traefik.enable=true
        - traefik.docker.network=traefik-public
        - traefik.constraint-label=traefik-public
        - traefik.http.middlewares.traefik-forward-auth.forwardauth.address=http://traefik-forward-auth:4181
        - traefik.http.middlewares.traefik-forward-auth.forwardauth.authResponseHeaders=X-Forwarded-User
        - traefik.http.services.traefik-forward-auth.loadbalancer.server.port=4181

  error-pages:
    image: tarampampam/error-pages:latest
    environment:
      TEMPLATE_NAME: lost-in-space
    networks:
      - traefik-public
    deploy:
      mode: replicated
      replicas: 2
      update_config:
        delay: 20s
        order: start-first
        monitor: 10s
      labels:
        - traefik.enable=true
        - traefik.docker.network=traefik-public
        - traefik.constraint-label=traefik-public
        # use as "fallback" for any non-registered services (with priority below normal)
        - traefik.http.routers.error-pages.rule=HostRegexp(`{host:.+}`)
        - traefik.http.routers.error-pages.priority=10
        # should say that all of your services work on https
        - traefik.http.routers.error-pages.tls='true'
        - traefik.http.routers.error-pages.entrypoints=https
        - traefik.http.routers.error-pages.middlewares=error-pages
        - traefik.http.services.error-pages.loadbalancer.server.port=8080
        # "errors" middleware settings
        - traefik.http.middlewares.error-pages.errors.status=400-599
        - traefik.http.middlewares.error-pages.errors.service=error-pages
        - traefik.http.middlewares.error-pages.errors.query=/{status}.html

networks:
  traefik-public:
    external: true
  traefik-private:

secrets:
  basic_auth_users:
    file: /deployments/traefik/secrets/basic_auth_users.txt
  cf_token:
    file: /deployments/traefik/secrets/cf_token.txt
