networks:
  app_net:
    driver: overlay
    attachable: true
  traefik-public:
    external: true

configs:
  rabbitmq_plugins:
    file: configs/rabbitmq/enabled_plugins
  rabbitmq_conf:
    file: configs/rabbitmq/rabbitmq.conf
  nestjs_env_vars:
    file: configs/cd.stack.env

x-base-shared-vols: &volumes-timezone
  volumes:
    - "/etc/localtime:/etc/localtime:ro"
    - "/etc/timezone:/etc/timezone:ro"

x-base-app-config: &shared-app-config
  <<: *volumes-timezone
  configs:
    - source: nestjs_env_vars
      target: /app/.env

x-base-replicated: &shared-replicated
  mode: replicated
  update_config:
    parallelism: 16
    delay: 1s
    failure_action: rollback
    order: stop-first
    monitor: 120s
  rollback_config:
    parallelism: 16
    delay: 1s
    failure_action: continue
    order: stop-first
    monitor: 120s

secrets:
  JWT_SECRET:
    external: true
    name: jwt_secret

services:
  frontend:
    image: ${IMAGE_FRONTEND}
    <<: *volumes-timezone
    networks:
      - app_net
      - traefik-public
    ports:
      - target: 80
        published: 8080
        protocol: tcp
        mode: ingress
    deploy:
      <<: *shared-replicated
      replicas: ${NUM_FRONTENDS}
      restart_policy:
        condition: any
        delay: 10s
        max_attempts: 5
      labels:
        - "traefik.enable=true"
        - "traefik.docker.network=traefik-public"
        - "traefik.constraint-label=traefik-public"
        - "traefik.http.routers.${BRANCH_SLUG}-frontend-http.rule=Host(`${BRANCH_SLUG}.openpra.org`)"
        - "traefik.http.routers.${BRANCH_SLUG}-frontend-http.entrypoints=web"
        - "traefik.http.routers.${BRANCH_SLUG}-frontend-http.middlewares=${BRANCH_SLUG}-https-redirect,gzip"
        - "traefik.http.routers.${BRANCH_SLUG}-frontend-http.service=${BRANCH_SLUG}-frontend"
        - "traefik.http.routers.${BRANCH_SLUG}-frontend-https.rule=Host(`${BRANCH_SLUG}.openpra.org`)"
        - "traefik.http.routers.${BRANCH_SLUG}-frontend-https.entrypoints=websecure"
        - "traefik.http.routers.${BRANCH_SLUG}-frontend-https.tls.certresolver=le"
        - "traefik.http.routers.${BRANCH_SLUG}-frontend-https.middlewares=gzip"
        - "traefik.http.routers.${BRANCH_SLUG}-frontend-https.service=${BRANCH_SLUG}-frontend"
        - "traefik.http.services.${BRANCH_SLUG}-frontend.loadbalancer.server.port=80"

  backend:
    image: ${IMAGE_BACKEND}
    <<: *shared-app-config
    networks:
      - app_net
      - traefik-public
    secrets:
      - JWT_SECRET
    environment:
      JWT_SECRET_KEY_FILE: /run/secrets/JWT_SECRET
      NODE_ENV: production
      DEBUG: "false"
    command: ["node", "main.js"]
    deploy:
      <<: *shared-replicated
      replicas: ${NUM_BACKENDS}
      restart_policy:
        condition: any
        delay: 10s
        max_attempts: 5
      labels:
        - "traefik.enable=true"
        - "traefik.docker.network=traefik-public"
        - "traefik.constraint-label=traefik-public"
        - "traefik.http.routers.${BRANCH_SLUG}-backend-http.rule=Host(`${BRANCH_SLUG}.openpra.org`) && PathPrefix(`/api`)"
        - "traefik.http.routers.${BRANCH_SLUG}-backend-http.entrypoints=web"
        - "traefik.http.routers.${BRANCH_SLUG}-backend-http.middlewares=${BRANCH_SLUG}-https-redirect,gzip"
        - "traefik.http.routers.${BRANCH_SLUG}-backend-http.service=${BRANCH_SLUG}-backend"
        - "traefik.http.routers.${BRANCH_SLUG}-backend-https.rule=Host(`${BRANCH_SLUG}.openpra.org`) && PathPrefix(`/api`)"
        - "traefik.http.routers.${BRANCH_SLUG}-backend-https.entrypoints=websecure"
        - "traefik.http.routers.${BRANCH_SLUG}-backend-https.tls.certresolver=le"
        - "traefik.http.routers.${BRANCH_SLUG}-backend-https.middlewares=gzip"
        - "traefik.http.routers.${BRANCH_SLUG}-backend-https.service=${BRANCH_SLUG}-backend"
        - "traefik.http.services.${BRANCH_SLUG}-backend.loadbalancer.server.port=8000"

  job-broker:
    image: ${IMAGE_JOB_BROKER}
    <<: *shared-app-config
    command: ["node", "main.js"]
    environment:
      NODE_ENV: ${CI_BUILD_TYPE}
      DEBUG: ${CI_DEBUG}
      NODE_OPTIONS: "--max-old-space-size=8192"
    networks:
      - traefik-public
    deploy:
      <<: *shared-replicated
      replicas: ${NUM_BROKERS}
      restart_policy:
        condition: any
        delay: 10s
        max_attempts: 5
      labels:
        - "traefik.enable=true"
        - "traefik.docker.network=traefik-public"
        - "traefik.constraint-label=traefik-public"
        - "traefik.http.routers.${BRANCH_SLUG}-broker-http.rule=Host(`${BRANCH_SLUG}.openpra.org`) && PathPrefix(`/q`)"
        - "traefik.http.routers.${BRANCH_SLUG}-broker-http.entrypoints=web"
        - "traefik.http.routers.${BRANCH_SLUG}-broker-http.middlewares=${BRANCH_SLUG}-https-redirect"
        - "traefik.http.routers.${BRANCH_SLUG}-broker-https.rule=Host(`${BRANCH_SLUG}.openpra.org`) && PathPrefix(`/q`)"
        - "traefik.http.routers.${BRANCH_SLUG}-broker-https.entrypoints=websecure"
        - "traefik.http.routers.${BRANCH_SLUG}-broker-https.tls.certresolver=le"
        - "traefik.http.services.${BRANCH_SLUG}-broker.loadbalancer.server.port=3000"

  job-worker:
    image: ${IMAGE_JOB_BROKER}
    <<: *shared-app-config
    command: ["node", "main.js"]
    environment:
      NODE_ENV: ${CI_BUILD_TYPE}
      DEBUG: ${CI_DEBUG}
      NODE_OPTIONS: "--max-old-space-size=8192"
      WORKER_MODE: "true"
    networks:
      - traefik-public
    deploy:
      mode: replicated
      replicas: ${NUM_WORKERS}
      restart_policy:
        condition: any
        delay: 10s
        max_attempts: 5

  rabbitmq:
    image: rabbitmq:management-alpine
    volumes:
      - "/etc/localtime:/etc/localtime:ro"
      - "/etc/timezone:/etc/timezone:ro"
    networks:
      - app_net
      - traefik-public
    ports:
      - target: 15672
        published: 15672
        protocol: tcp
        mode: ingress
    configs:
      - source: rabbitmq_plugins
        target: /etc/rabbitmq/enabled_plugins
      - source: rabbitmq_conf
        target: /etc/rabbitmq/rabbitmq.conf
    deploy:
      mode: replicated
      replicas: 1
      restart_policy:
        condition: any
        delay: 5s
        max_attempts: 3
      labels:
        - "traefik.enable=true"
        - "traefik.docker.network=traefik-public"
        - "traefik.constraint-label=traefik-public"
        - "traefik.http.routers.${BRANCH_SLUG}-rmq-http.rule=Host(`rmq-${BRANCH_SLUG}.openpra.org`)"
        - "traefik.http.routers.${BRANCH_SLUG}-rmq-http.entrypoints=web"
        - "traefik.http.routers.${BRANCH_SLUG}-rmq-http.middlewares=${BRANCH_SLUG}-https-redirect,gzip"
        - "traefik.http.routers.${BRANCH_SLUG}-rmq-http.service=${BRANCH_SLUG}-rmq"
        - "traefik.http.routers.${BRANCH_SLUG}-rmq-https.rule=Host(`rmq-${BRANCH_SLUG}.openpra.org`)"
        - "traefik.http.routers.${BRANCH_SLUG}-rmq-https.entrypoints=websecure"
        - "traefik.http.routers.${BRANCH_SLUG}-rmq-https.tls.certresolver=le"
        - "traefik.http.routers.${BRANCH_SLUG}-rmq-https.middlewares=gzip,traefik-forward-auth"
        - "traefik.http.routers.${BRANCH_SLUG}-rmq-https.service=${BRANCH_SLUG}-rmq"
        - "traefik.http.services.${BRANCH_SLUG}-rmq.loadbalancer.server.port=15672"

  mongodb:
    image: mongo:latest
    networks:
      - app_net
      - traefik-public
    volumes:
      - "/etc/localtime:/etc/localtime:ro"
      - "/etc/timezone:/etc/timezone:ro"
    deploy:
      mode: replicated
      replicas: 1
      restart_policy:
        condition: any
        delay: 5s
        max_attempts: 3
