networks:
  app_net:
    driver: overlay
    attachable: true
  traefik-cd:
    driver: overlay
    attachable: true
    ipam:
      config:
        - subnet: 10.10.0.0/16

configs:
  rabbitmq_plugins:
    file: configs/rabbitmq/enabled_plugins
  rabbitmq_conf:
    file: configs/rabbitmq/rabbitmq.conf
  nestjs_env_vars:
    file: configs/cd.stack.env

x-base-shared-vols: &volumes-timezone
  volumes:
    - "/etc/localtime:/etc/localtime:ro"
    - "/etc/timezone:/etc/timezone:ro"

x-base-app-config: &shared-app-config
  <<: *volumes-timezone
  configs:
    - source: nestjs_env_vars
      target: /app/.env

x-base-replicated: &shared-replicated
  mode: replicated
  update_config:
    parallelism: 16
    delay: 1s
    failure_action: rollback
    order: stop-first
    monitor: 120s
  rollback_config:
    parallelism: 16
    delay: 1s
    failure_action: continue
    order: stop-first
    monitor: 120s

secrets:
  JWT_SECRET:
    external: true
    name: jwt_secret

services:
  frontend:
    image: ${IMAGE_FRONTEND}
    <<: *volumes-timezone
    networks:
      - app_net
      - traefik-cd
    deploy:
      <<: *shared-replicated
      replicas: ${NUM_FRONTENDS}
      placement:
        constraints:
          - "${DEPLOYMENT_FRONTEND_POOL}"
      restart_policy:
        condition: any
        delay: 10s
        max_attempts: 5
      labels:
        - traefik.enable=true
        - traefik.constraint-label=traefik-public
        - traefik.docker.network=traefik-cd
        - traefik.http.routers.frontend-http.rule=Host(`${FRONTEND_HOST}`)
        - traefik.http.routers.frontend-http.entrypoints=http
        - traefik.http.routers.frontend-http.middlewares=https-redirect
        - traefik.http.routers.frontend-https.rule=Host(`${FRONTEND_HOST}`)
        - traefik.http.routers.frontend-https.entrypoints=https
        - traefik.http.routers.frontend-https.tls=true
        - traefik.http.routers.frontend-https.tls.certresolver=cloudflare
        - traefik.http.services.frontend.loadbalancer.server.port=80
        - traefik.http.middlewares.https-redirect.redirectscheme.scheme=https
        - traefik.http.middlewares.https-redirect.redirectscheme.permanent=true

  backend:
    image: ${IMAGE_BACKEND}
    <<: *shared-app-config
    networks:
      - app_net
      - traefik-cd
    secrets:
      - JWT_SECRET
    environment:
      JWT_SECRET_KEY_FILE: /run/secrets/JWT_SECRET
      NODE_ENV: production
      DEBUG: "false"
    command: ["node", "main.js"]
    deploy:
      <<: *shared-replicated
      replicas: ${NUM_BACKENDS}
      placement:
        constraints:
          - "${DEPLOYMENT_BACKEND_POOL}"
      restart_policy:
        condition: any
        delay: 10s
        max_attempts: 5
      labels:
        - traefik.enable=true
        - traefik.constraint-label=traefik-public
        - traefik.docker.network=traefik-cd
        - traefik.http.routers.backend-http.rule=Host(`${BACKEND_HOST}`)
        - traefik.http.routers.backend-http.entrypoints=http
        - traefik.http.routers.backend-http.middlewares=https-redirect
        - traefik.http.routers.backend-https.rule=Host(`${BACKEND_HOST}`)
        - traefik.http.routers.backend-https.entrypoints=https
        - traefik.http.routers.backend-https.tls=true
        - traefik.http.routers.backend-https.tls.certresolver=cloudflare
        - traefik.http.services.backend.loadbalancer.server.port=8000

  job-broker:
    image: ${IMAGE_JOB_BROKER}
    <<: *shared-app-config
    command: ["node", "main.js"]
    environment:
      NODE_ENV: ${CI_BUILD_TYPE}
      DEBUG: ${CI_DEBUG}
      NODE_OPTIONS: "--max-old-space-size=8192"
    networks:
      - app_net
      - traefik-cd
    deploy:
      <<: *shared-replicated
      replicas: ${NUM_BROKERS}
      placement:
        constraints:
          - "${DEPLOYMENT_BROKER_POOL}"
      restart_policy:
        condition: any
        delay: 10s
        max_attempts: 5
      labels:
        - traefik.enable=true
        - traefik.constraint-label=traefik-public
        - traefik.docker.network=traefik-cd
        - traefik.http.routers.job-broker-http.rule=Host(`${BACKEND_HOST}`) && PathPrefix(`/q`)
        - traefik.http.routers.job-broker-http.entrypoints=http
        - traefik.http.routers.job-broker-http.middlewares=https-redirect
        - traefik.http.routers.job-broker-https.rule=Host(`${BACKEND_HOST}`) && PathPrefix(`/q`)
        - traefik.http.routers.job-broker-https.entrypoints=https
        - traefik.http.routers.job-broker-https.tls=true
        - traefik.http.routers.job-broker-https.tls.certresolver=cloudflare
        - traefik.http.services.job-broker.loadbalancer.server.port=3000

  job-worker:
    image: ${IMAGE_JOB_BROKER}
    <<: *shared-app-config
    command: ["node", "main.js"]
    environment:
      NODE_ENV: ${CI_BUILD_TYPE}
      DEBUG: ${CI_DEBUG}
      NODE_OPTIONS: "--max-old-space-size=8192"
      WORKER_MODE: "true"
    networks:
      - app_net
    deploy:
      mode: replicated
      replicas: ${NUM_WORKERS}
      <<: *shared-replicated
      placement:
        constraints:
          - "${DEPLOYMENT_WORKER_POOL}"
      restart_policy:
        condition: any
        delay: 10s
        max_attempts: 5

  rabbitmq:
    image: rabbitmq:management-alpine
    volumes:
      - "/etc/localtime:/etc/localtime:ro"
      - "/etc/timezone:/etc/timezone:ro"
    networks:
      - app_net
      - traefik-cd
    configs:
      - source: rabbitmq_plugins
        target: /etc/rabbitmq/enabled_plugins
      - source: rabbitmq_conf
        target: /etc/rabbitmq/rabbitmq.conf
    deploy:
      mode: replicated
      replicas: 1
      placement:
        constraints:
          - node.labels.high_performance == true
      restart_policy:
        condition: any
        delay: 5s
        max_attempts: 3
      labels:
        - traefik.enable=true
        - traefik.constraint-label=traefik-public
        - traefik.docker.network=traefik-cd
        - traefik.http.routers.rabbitmq-http.rule=Host(`${BACKEND_HOST}`) && PathPrefix(`/rabbitmq`)
        - traefik.http.routers.rabbitmq-http.entrypoints=http
        - traefik.http.routers.rabbitmq-http.middlewares=https-redirect
        - traefik.http.routers.rabbitmq-https.rule=Host(`${BACKEND_HOST}`) && PathPrefix(`/rabbitmq`)
        - traefik.http.routers.rabbitmq-https.entrypoints=https
        - traefik.http.routers.rabbitmq-https.tls=true
        - traefik.http.routers.rabbitmq-https.tls.certresolver=cloudflare
        - traefik.http.middlewares.rabbitmq-stripprefix.stripprefix.prefixes=/rabbitmq
        - traefik.http.routers.rabbitmq-https.middlewares=rabbitmq-stripprefix
        - traefik.http.services.rabbitmq.loadbalancer.server.port=15672

  mongodb:
    image: mongo:latest
    networks:
      - app_net
    volumes:
      - "/etc/localtime:/etc/localtime:ro"
      - "/etc/timezone:/etc/timezone:ro"
    deploy:
      mode: replicated
      replicas: 1
      placement:
        constraints:
          - node.labels.high_performance == true
      restart_policy:
        condition: any
        delay: 5s
        max_attempts: 3
