version: "3.8"

networks:
  traefik-github-public:
    external: true

services:
  docs:
    image: ${IMAGE_DOCS}
    networks:
      - traefik-github-public
    deploy:
      mode: replicated
      replicas: 2
      update_config:
        parallelism: 1
        delay: 10s
        failure_action: rollback
        order: stop-first
        monitor: 30s
      rollback_config:
        parallelism: 1
        delay: 10s
        failure_action: continue
        order: stop-first
        monitor: 30s
      restart_policy:
        condition: any
        delay: 10s
        max_attempts: 5
      labels:
        - "traefik.enable=true"
        - "traefik.docker.network=traefik-github-public"
        - "traefik.constraint-label=traefik-github-public"
        # HTTP Router (tunnel sends HTTP traffic)
        - "traefik.http.routers.${BRANCH_SLUG}-docs.rule=Host(`${DOMAIN}`)"
        - "traefik.http.routers.${BRANCH_SLUG}-docs.entrypoints=http"
        - "traefik.http.routers.${BRANCH_SLUG}-docs.priority=100"
        - "traefik.http.routers.${BRANCH_SLUG}-docs.service=${BRANCH_SLUG}-docs"
        # Service configuration
        - "traefik.http.services.${BRANCH_SLUG}-docs.loadbalancer.server.port=80"
