volumes:
  mongo_data:
  rabbitmq_data:
  minio_data:

configs:
  rabbitmq_plugins:
    file: ../docker/configs/rabbitmq/enabled_plugins

services:
  devcontainer:
    build:
      context: ..
      dockerfile: .devcontainer/Dockerfile
    volumes:
      - ..:/workspaces/openpra-monorepo
    ports:
      - '5672:5672'
      - '15672:15672'
      - '27017:27017'
      - '9000:9000'
      - '9001:9001'

  rabbitmq:
    image: rabbitmq:management-alpine
    restart: unless-stopped
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    configs:
      - source: rabbitmq_plugins
        target: /etc/rabbitmq/enabled_plugins
    network_mode: 'service:devcontainer'

  mongodb:
    image: mongo:latest
    restart: unless-stopped
    volumes:
      - mongo_data:/data/db
    network_mode: 'service:devcontainer'

  minio:
    image: quay.io/minio/minio
    restart: unless-stopped
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    volumes:
      - minio_data:/data
    command: server /data --console-address ":9001"
    network_mode: 'service:devcontainer'
