.context_menu {
    background: white;
    border-style: solid;
    box-shadow: 10px 19px 20px rgba(0, 0, 0, 10%);
    position: absolute;
    z-index: 10;
}

.context_menu button {
    border: none;
    display: block;
    padding: 0.5em;
    text-align: left;
    width: 100%;
}

.context_menu button:hover {
    background: white;
}

.or_icon {
    margin: auto;
    height: 50px;
    width: 70px;
}

.and_icon {
    z-index: 10;
    margin: auto;
    height: 40px;
    width: 60px;
}
