.outputNode{
  border: 1.5px solid ;
  height: 50%
}

.Output

.inputNode{

}

.addNodeButton{
  cursor: pointer;
  pointer-events: all;
  stroke: #0984e3;
  fill: white;
}

.addNodeButtonText{
  text-align: center;

  font-size: large;
}

.textarea{
  height:1.2rem;
  fontSize: 0.7rem;
}

