.outputNode{
  border: 1px solid ;
  height: 50%
}

.Output

.inputNode{

}

.addNodeButton{
  cursor: pointer;
  pointer-events: all;
  stroke: #0984e3;
  fill: white;
}

.addNodeButtonText{
  user-select: none;
  z-index: 12;
  text-align: center;
}
