version: "3.8"

networks:
  traefik-github-public:
    external: true

services:
  docs:
    image: ${IMAGE_DOCS}
    networks:
      - traefik-github-public
    deploy:
      mode: replicated
      replicas: 2
      update_config:
        parallelism: 1
        delay: 10s
        failure_action: rollback
        order: stop-first
        monitor: 30s
      rollback_config:
        parallelism: 1
        delay: 10s
        failure_action: continue
        order: stop-first
        monitor: 30s
      restart_policy:
        condition: any
        delay: 10s
        max_attempts: 5
      labels:
        - "traefik.enable=true"
        - "traefik.docker.network=traefik-github-public"
        - "traefik.constraint-label=traefik-github-public"
        # HTTP Router with redirect to HTTPS
        - "traefik.http.routers.${BRANCH_SLUG}-docs-http.rule=Host(`${DOMAIN}`)"
        - "traefik.http.routers.${BRANCH_SLUG}-docs-http.entrypoints=http"
        - "traefik.http.routers.${BRANCH_SLUG}-docs-http.middlewares=${BRANCH_SLUG}-docs-https-redirect,gzip"
        - "traefik.http.routers.${BRANCH_SLUG}-docs-http.service=${BRANCH_SLUG}-docs"
        # HTTPS Router
        - "traefik.http.routers.${BRANCH_SLUG}-docs-https.rule=Host(`${DOMAIN}`)"
        - "traefik.http.routers.${BRANCH_SLUG}-docs-https.entrypoints=https"
        - "traefik.http.routers.${BRANCH_SLUG}-docs-https.tls=true"
        - "traefik.http.routers.${BRANCH_SLUG}-docs-https.tls.certresolver=le"
        - "traefik.http.routers.${BRANCH_SLUG}-docs-https.middlewares=gzip"
        - "traefik.http.routers.${BRANCH_SLUG}-docs-https.service=${BRANCH_SLUG}-docs"
        # Service configuration
        - "traefik.http.services.${BRANCH_SLUG}-docs.loadbalancer.server.port=80"
        # HTTPS redirect middleware
        - "traefik.http.middlewares.${BRANCH_SLUG}-docs-https-redirect.redirectscheme.scheme=https"
        - "traefik.http.middlewares.gzip.compress=true"
